.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.auto.tfvars
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl
*.log
*.bak
*.zip
*.tar.gz
*.tgz
*.pem
*.key
.idea/
.vscode/
.DS_Store